body{
    background-color: #f2f2f2;
    font-family: var(--bs-font-sans-serif) !important;
}

main{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1rem;
}

.data-icon{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.data-icon h3{
    margin: 0;
    color: #5a5c69!important;
}

.card-info{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-info .Card{
    flex: 1;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 2rem;
    border-radius: .5rem;
    min-width: 300px;
    background-color: white;
}

.card-info .Card:nth-child(1){
    border-left: 8px solid #286DF3 !important;
}
.card-info .Card:nth-child(2){
    border-left: 8px solid #1cc88a !important;
}
.card-info .Card:nth-child(3){
    border-left: 8px solid #f6c23e !important;
}
.card-info .Card:nth-child(4){
    border-left: 8px solid #e74a3b !important;
}

.card-info .Card:nth-child(1) label{
    color: #286DF3;
}
.card-info .Card:nth-child(2) label{
    color: #1cc88a;
}
.card-info .Card:nth-child(3) label{
    color: #f6c23e;
}
.card-info .Card:nth-child(4) label{
    color: #e74a3b;
}

.Card label{
    font-weight: 500;
}

.data-icon i{
    font-size: 35px;
    color: #bebec0;
}

.ad-chart{
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.table{
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .5rem;
    background-color: white;
}

.ad{
    flex: 5;
    min-width: 0;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, .125);
    min-width: 500px;
}

.ad-header{
    background-color: #f8f9fc;
    width: 100%;
    padding: 1rem 2rem;
    color: #286DF3;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid rgb(180, 179, 179);
    border-radius: .5rem .5rem 0 0;
}

.chart{
    flex: 2;
    background-color: white;
    border: 1px solid rgba(119, 119, 119, 0.25);
    border-radius: .5rem;
    min-height: 500px;
}

.flex-chart{
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

/*---------datatable--------------*/

.sorting_1{
    box-shadow: none !important;
}

tbody .odd td{
    box-shadow: none !important;
}

table.dataTable.hover > tbody > tr:hover > *, table.dataTable.display > tbody > tr:hover > *{
    box-shadow: none !important;
}

tbody td{
    padding: 1.1rem !important;
    font-weight: 300;
}

thead th{
    padding: 1.1rem !important;
    font-weight: 500;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #286DF3 !important;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: linear-gradient(to bottom, #286DF3 0%, #286DF3 100%) !important;

    /* background-color: #286DF3 !important; */
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    border-radius: .5rem !important;
    border: none !important; 
}

.table-content{
    padding: 1rem;
}

.table-header{
    background-color: #f8f9fc;
    width: 100%;
    padding: 1rem 2rem;
    color: #286DF3;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid rgb(180, 179, 179);
    border-radius: .5rem .5rem 0 0 !important;
}

.table-content{
    overflow-x: auto;
}
/*---------datatable--------------*/
/*-----------swiper---------------*/

.swiper {
    width: 100%;
    height: 100%;
    padding: 1rem !important;
    padding-bottom: 5rem !important;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/*-------------card----------------*/

.card {
    background-color: white;
    transition: 0.3s;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid rgba(119, 119, 119, 0.25) !important;
}

.card img{
    border-radius: .5rem .5rem 0 0;
}

.container h4{
    margin: 0 0 .5rem 0;
    color: rgb(37,58,84);
    font-size: large;
}

.container p{
    margin: 0;
    font-size: small;
    color: gray;
}
  
.container {
    padding: 20px 16px;
    text-align: left;
}

.info{
    border-top: 2px solid #f2f2f2;
    padding: 20px 16px;
    display: flex;
    gap: 3rem;
}

.info sup{
    font-size: 11px;
}

.icon{
    color: rgb(37,58,84);
}

.info p{
    margin: 5px 0 0 0;
    font-size: small;
    color: gray;
}


@media only screen and (max-width: 650px) {
    .ad{
        width: 100%;
        min-width: 280px;
    }
  }

  @media only screen and (max-width: 500px) {
    .cards{
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        font-size: small;
    }

    .info{
        gap: 1rem;
    }

    .wrapper{
        padding: 1rem;
    }

    .wrappergap{
        padding: 0;
    }

    .container h4{
        font-size: medium;
    }

    .wrapper a, .wrapper p{
        font-size: 14px;
    }
}