#form1, #form2{
    max-width: 500px;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(119, 119, 119, .25) !important;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    margin: 1rem;
}

#form1 h5, #form2 h5{
    text-align: center;
    margin: 2rem 0;
}

#form1 p, #form2 p{
    text-align: center;
    font-size: 15px;
    color: gray;
    margin-bottom: 3rem;
}

.formDiv{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#form1 button, #form2 button{
    margin-top: 2rem;
}

body{
    background-color: #f2f2f2 !important;
}

.ErrorMSG{
    font-size: small;
    color: red;
    visibility: hidden;
}

.success{
    display: none;
}

.success a{
    width: 100%;
    padding: .6rem;
    text-align: center;
    display: block;
    text-decoration: none;
    border-radius: .5rem;
    background-color: #286DF3;
    color: white;
    transition: .2s;
}

.success a:hover{
    color: white;
    background-color: #0055ff;
}