@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
body{
    background-color: #f2f2f2 !important;
}

main{
    padding: 2rem;
    max-width: 1525px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background-color: white;
    border-radius: .5rem;
}

.maingap{
    padding: 0 1rem;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter button{
    padding: .8rem 4rem;
    border-radius: .5rem;
    border: 1px solid #AFAFAF;
    background-color: #286DF3;
    color: white;
    font-weight: 500;
}

/*--------------Modal----------------*/

form select{
    border: none;
    outline: 1px solid gray;
    padding: .9rem;
    border-radius: .4rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 100%;
}

.input-wrapper{
    background-color: white;
    outline: 1px solid gray;
    border-radius: .4rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.input-wrapper input{
    padding: .7rem .6rem;
    width: 55px;
    border: none;
}

.input-wrapper input[type="number"]:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchBtn{
    padding: .75rem 1rem;
    border-radius: .4rem;
    border: none;
    background-color: var(--textColor);
    color: white;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 100%;
}

.filters{
    width: 100%;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: .2rem;
    cursor: pointer;
}

.rent-sell-active{
    background-color: #286DF3;
    color: white;
    border: none !important;
}

#exampleModal{
    box-sizing: border-box;
}

.modal-body input[type="radio"]{
    display: none;
}


#exampleModal .modal-body div{
    max-width: 100%;
    margin: 0 auto !important;
    padding: 0;
    min-width: 200px;
}

#exampleModal form div{
    flex-grow: 1;
    line-height: 1.8;
    flex: 1;
}

#search-modal-body{
    max-height: 65vh;
    overflow: auto;
}

.modal-body .input-wrapper{
    margin: 0 !important;
}

.modal-body .input-wrapper input{
    width: 45%;
}

.modal-col{
    margin: 0 !important;
    padding: 0 !important;
}

form .row{
    gap: 1rem;
}

.modal-body form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-body form div{
    width: 100%;
}

.modal-body form .numberInput
{
    padding: .7rem;
    border: none;
    border-radius: .4rem;
    outline: 1px solid gray;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    width: 100%;
    box-sizing: border-box;
}

.modal-footer{
    margin: 0 !important;
    display: block !important;
    padding: 1rem 1.6rem !important;
}

.modal-footer button{
    border: none;
    border-radius: .5rem;
    margin-top: .5rem;
    box-sizing: border-box;
    width: 100%;
    padding: .7rem;
    background-color: #286DF3;
    color: white;
}

.modal-btn{
    padding: .5rem 5rem;
    border-radius: 1rem;
    border: 1px solid black;
    font-weight: 500;
}


/*--------ModalForm-------------*/

.rent-sell label{
    margin: .2rem;
    padding: .2rem 1.2rem;
    display: inline-block;
    border-radius: .9rem;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.rent-sell-btn{
    width: 100% !important;

}

.widthSet{
    min-width: 200px;
}

.rent-sell input[type="radio"]:checked+label{
    background-color: #286DF3 !important;
    color: white;
    border: none;
}

#plotArea{
    display: none;
}

#maxLevel{
    display: none;
}

#cellar{
    display: none;
}

#insulation{
    display: none;
}

#formPlotArea{
    display: none;
}

#water, #gas, #canal, #electricity, #coverage{
    display: none;
}

/*----------------------*/
/*----Cards-------*/

.cards{
    margin: 4rem auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    background-color: white;
    transition: 0.3s;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid rgba(119, 119, 119, 0.25) !important;
    height: 100% !important;
}

.card img{
    border-radius: .5rem .5rem 0 0;
    height: 100%;
    object-fit: cover;
}

.container h4{
    margin: 0 0 .5rem 0;
    color: rgb(37,58,84);
    font-size: large;
}

.container p{
    margin: 0 !important;
    font-size: small;
    color: gray;
}
  
.container {
    padding: 20px 16px;
}

.info{
    border-top: 2px solid #f2f2f2;
    padding: 20px 16px;
    display: flex;
    gap: 3rem;
}

.info sup{
    font-size: 11px;
}

.icon{
    color: rgb(37,58,84);
}

.info p{
    margin: 5px 0 0 0;
    font-size: small;
    color: gray;
}

.search_select_box button{
    background-color: white;
    outline: 1px solid gray;
    padding: .9rem .6rem;
    border-radius: .4rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

/*----Cards-------*/


@media only screen and (max-width: 500px) {
    .cards{
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        font-size: small;
    }

    main{
        padding: 1rem;
    }

    .info{
        gap: 1rem;
    }

    
    .maingap{
        padding: 0;
    }

    .container h4{
        font-size: medium;
    }
}

.pages{
    display: none;
}

#page1{
    display: grid;
}