@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.overflow-set{
    overflow-x: hidden;
}

#navm0{
    margin-bottom: 0 !important;
}

:root{
    --textColor: #286DF3;
}

body{
    margin: 0;
    background-color: #f2f2f2 !important;
}
/*------------search with img ---------------*/
.header{
    height: 400px;
    width: 100%;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    max-width: 2000px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-position: 50%;
    height: 60vh;
}

#form1{
    display: flex;
    gap: .5rem 1rem;
    padding: 1.5rem 0;
    padding-top: 3.8rem;
    position: relative;
    font-weight: 500;
    border-radius: 1rem;
    align-items: end;
    max-width: 1050px;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.formbg{
    background-color: white;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(119, 119, 119, 0.25);
}

.rent-sell{
    padding: .5rem 1rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 1rem 1rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.rent-sell input{
    display: none;
}

.rent-sell label{
    margin: .2rem;
    padding: .2rem 1.2rem;
    display: inline-block;
    border-radius: .9rem;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.rent-sell-btn{
    width: 100% !important;

}

.widthSet{
    min-width: 200px;
}

input[type="radio"]{
    display: none;
}

form .typeText{
    padding: .7rem;
    border: none;
    border-radius: .4rem;
    outline: 1px solid gray;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 100%;
    box-sizing: border-box;
}

#form1 div{
    flex-grow: 1;
}

#exampleModal form div{
    flex-grow: 1;
    line-height: 1.8;
    flex: 1;
}

#water, #gas, #canal, #electricity, #coverage{
    display: none;
}


form select{
    border: none;
    outline: 1px solid gray;
    padding: .9rem;
    border-radius: .4rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 100%;
}

.input-wrapper{
    background-color: white;
    outline: 1px solid gray;
    border-radius: .4rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.input-wrapper input{
    padding: .7rem .6rem;
    width: 55px;
    border: none;
}

.input-wrapper input[type="number"]:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchBtn{
    padding: .75rem 1rem;
    border-radius: .4rem;
    border: none;
    background-color: var(--textColor);
    color: white;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 100%;
}

.filters{
    width: 100%;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: .2rem;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .header form{
        max-width: 500px;
    }
}

/*------------search with img ---------------*/

/*---------Swiper---------*/

.swiper {
    max-width: 1400px;
    width: 82%;
    min-width: 320px;
    height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*--------/Swiper/--------*/

main{
    font-family: 'Inter', sans-serif;
}

.citys{
    width: 100%;
    padding: 2rem 0 4rem 0;
    background-color: white;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.city-card h4{
    font-size: large;
    margin: 1rem 0;
    color: black;
}

.city-container p{
    margin-bottom: 0;
    font-size: medium;
}

.city-card {
    width: 100%;
}

.city-card img{
    max-width: 200px !important;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
}
  
.city-container {
    padding: 0 16px;
}

/*----Cards-------*/

.wrappergap{
    padding: 0 1rem;
}

.wrapper{
    max-width: 1500px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid rgba(119, 119, 119, 0.25);
}

.wrapper button{
    background-color: #286DF3;
    border-radius: .7rem;
    border: none;
}

.wrapper button a{
    display: block;
    padding: .7rem;
    text-decoration: none;
    color: white;
}

.cards{
    margin: 4rem auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    background-color: white;
    transition: 0.3s;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid rgba(119, 119, 119, 0.25) !important;
    height: 100% !important;
}

.card img{
    border-radius: .5rem .5rem 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container h4{
    margin: 0 0 .5rem 0;
    color: rgb(37,58,84);
    font-size: large;
}

.container p{
    margin: 0;
    font-size: small;
    color: gray;
}
  
.container {
    padding: 20px 16px;
}

.info{
    border-top: 2px solid #f2f2f2;
    padding: 20px 16px;
    display: flex;
    gap: 3rem;
}

.info sup{
    font-size: 11px;
}

.icon{
    color: rgb(37,58,84);
}

.info p{
    margin: 5px 0 0 0;
    font-size: small;
    color: gray;
}

/*----Cards-------*/
/*--------------Modal----------------*/

.rent-sell-active{
    background-color: var(--textColor) !important;
    color: white !important;
    border: none !important;
}

#exampleModal{
    box-sizing: border-box;
}


#exampleModal .modal-body div{
    max-width: 100%;
    margin: 0 auto !important;
    padding: 0;
    min-width: 200px;
}

#search-modal-body{
    max-height: 65vh;
    overflow: auto;
}

.modal-body .input-wrapper{
    margin: 0 !important;
}

.modal-body .input-wrapper input{
    width: 45%;
}

.modal-col{
    margin: 0 !important;
    padding: 0 !important;
}

form .row{
    gap: 1rem;
}

.modal-body form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-body form div{
    width: 100%;
}

.modal-body form .numberInput
{
    padding: .7rem;
    border: none;
    border-radius: .4rem;
    outline: 1px solid gray;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    width: 100%;
    box-sizing: border-box;
}

.modal-footer{
    margin: 0 !important;
    display: block !important;
    padding: 1rem 1.6rem !important;
}

.modal-footer button{
    border: none;
    border-radius: .5rem;
    margin-top: .5rem;
    box-sizing: border-box;
    width: 100%;
    padding: .7rem;
    background-color: #286DF3;
    color: white;
}

.modal-btn{
    padding: .5rem 5rem;
    border-radius: 1rem;
    border: 1px solid black;
    font-weight: 500;
}


/*--------ModalForm-------------*/

#plotArea{
    display: none;
}

#maxLevel{
    display: none;
}

#cellar{
    display: none;
}

#insulation{
    display: none;
}

#formPlotArea{
    display: none;
}

/*----------------------*/
@media only screen and (max-width: 500px) {
    .cards{
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        font-size: small;
    }

    .info{
        gap: 1rem;
    }

    .wrapper{
        padding: 1rem;
    }

    .wrappergap{
        padding: 0;
    }

    .container h4{
        font-size: medium;
    }

    .wrapper a, .wrapper p{
        font-size: 14px;
    }

    .headertext h1{
        text-align: center;
    }
}

.headertext h1{
    border-radius: .5rem;
}

.swiper2 {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination-bullet {
    width: 20px !important;
    height: 8px !important;
    border-radius: 1rem !important;
    text-align: center !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #286DF3  !important;
}



.search_select_box button{
    background-color: white;
    outline: 1px solid gray;
    padding: .9rem .6rem;
    border-radius: .4rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.property_type{
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    padding: 4px 5px;
    font-size: small;
    border-radius: .5rem;
}

.swiper-wrapper a{
   color: rgb(79,79,79);
}

.swiper-wrapper a:hover{
    color: rgb(79,79,79);
}

.header{
    position: relative;
}

.headertext{
    position: absolute;
    z-index: 9;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(119, 119, 119, 0.26)
}

.headertext h1{
    background-color: rgba(0, 0, 0, 0.404);
    padding: 1.5rem;
}
